<section id="training">
    <h2>Training</h2>
    <ul>
        <li *ngFor="let trainingsObj of trainings">
            <section>
                <ul>
                    <li>
                        <div className="label">Company:</div>
                        <div className="content">{{trainingsObj.company}}</div>
                    </li>
                    <li>
                        <div className="label">Topic:</div>
                        <div className="content">{{trainingsObj.topic}}</div>
                    </li>
                    <li>
                        <div className="label">Description:</div>
                        <div className="content">{{trainingsObj.description}}</div>
                    </li>
                </ul>
            </section>
        </li>
    </ul>
</section>