<section id="experience">
    <h2>Experience</h2>
    <ul>
        <li *ngFor="let expObj of experience">
            <section>
                <ul>
                    <li>
                        <div className="label">Name:</div>
                        <div className="content">{{expObj.name}}</div>
                    </li>
                    <li>
                        <div className="label">Title:</div>
                        <div className="content">{{expObj.title}}</div>
                    </li>
                    <li>
                        <div className="label">Tenure:</div>
                        <div className="content">{{expObj.startDate}} - {{expObj.endDate}}</div>
                    </li>
                    <li>
                        <div className="label">Url:</div>
                        <div className="content">{{expObj.url}}</div>
                    </li>
                </ul>
            </section>
        </li>
    </ul>
</section>