<section>
    <h1 class="name">{{resume.name}}</h1>
    <div id="contact">
        <div><img src="assets/img/phoneLogo.png"/><a href="tel:{{resume.phoneNumber}}"
                target="_blank">{{resume.phoneNumber}}</a></div>
        <div><img src="assets/img/mailLogo.png"/><a href="mailto:{{resume.email}}" target="_blank">{{resume.email}}</a>
        </div>
        <div><img src="assets/img/gitlogo.png"><a href="https://github.com/mohitsparihar/"
                target="_blank">{{resume.github}}</a></div>
        <div><img src="assets/img/linkedinLogo.png"/><a href="https://linkedin.com/in/mohitsparihar"
                target="_blank">{{resume.linkedin}}</a></div>
    </div>
</section>