@import '../../assets/variables.scss';
$main-component-height: calc(100vh - 58px);

.home-page {
    margin: 0 auto;
    padding-top: 100px;
    font-size: 20px;
    text-align: center;
    min-height: $main-component-height;
    
    strong {
        color: $color3;
    }
    h1 {
        font-size: 26px;
        margin-bottom: 100px;
    }
    p {
        padding: 0 0 30px 0;
    }
}
