<section class="home-page" id="home">
    <h1>I am <strong>Mohit Singh Parihar</strong>, I create Web Pages.</h1>
    <p>Hey there, you're visiting the porfolio of Mohit Singh Parihar, that's me!</p>
    <p>I am a <strong>Front End Developer</strong> from Bengaluru, India.</p>
    <p>I spend most of my time designing and building webpages like this one.</p>
</section>
<section class="component-section" id="skills">
    <app-skills></app-skills>
</section>
<section class="component-section" id="projects">
    <app-projects></app-projects>
</section>
<section class="component-section" id="experience">
    <app-experience></app-experience>
</section>
<section class="component-section" id="personal-projects">
    <app-personal-project></app-personal-project>
</section>
<section class="component-section" id="education">
    <app-education></app-education>
</section>