<section class="home-page" id="home">
    <h1>Hi!</h1>
    <p>I am <strong>Mohit Singh Parihar</strong>.</p>
    <p>I am a <strong>Front End Developer</strong>.</p>
    <p>I create webpages.</p>
</section>
<section class="component-section" id="skills">
    <app-skills></app-skills>
</section>
<section class="component-section" id="projects">
    <app-projects></app-projects>
</section>
<section class="component-section" id="experience">
    <app-experience></app-experience>
</section>
<section class="component-section" id="personal-projects">
    <app-personal-project></app-personal-project>
</section>
<section class="component-section" id="education">
    <app-education></app-education>
</section>